@model Bea.Models.Contact.ContactAdModel
<script type="text/javascript">
    //    Show the loading bar
    function sending() {
        document.getElementById('progressBar').style.display = "block";
        document.getElementById('submitButton').style.display = "none";
    }
    
</script>

@if (@Model.InfoMessage != null)
{
    <p>@Model.InfoMessage</p>
}
else
{
@*@AjaxOptions contactOptions = new AjaxOptions { HttpMethod = "Post", OnBegin = "sending", OnSuccess = "onSendingSuccess"}; *@
using (Ajax.BeginForm("Contact", "Post",new {}, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "contact",OnBegin = "sending" }))
{ 
    <div id="contactForm">
    @Html.HiddenFor(model => model.AdId)
    <div class="control-group">
        <div class="controls controls-row">
            @Html.TextBoxFor(model => model.Name, new { @class = "input-medium",placeholder="Votre nom..." })
            @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @class = "label label-important" })
        </div>
        <div class="controls controls-row">
            @Html.TextBoxFor(model => model.Email, new { @class = "input-medium",placeholder="Votre e-mail..." })
            @Html.ValidationMessageFor(model => model.Email, String.Empty, new { @class = "label label-important" })
        </div>
        <div class="controls controls-row">
            @Html.TextBoxFor(model => model.Telephone, new { @class = "input-medium",placeholder="Votre téléphone..." })
            @Html.ValidationMessageFor(model => model.Telephone, String.Empty, new { @class = "label label-important" })
        </div>
        <div class="controls controls-row">
            @Html.TextAreaFor(model => model.EmailBody, new { @rows = 10, @class = "input-large", style = "resize: none;",placeholder="Votre message..." })
            @Html.ValidationMessageFor(model => model.EmailBody, String.Empty, new { @class = "label label-important" })
        </div>
        <dl class="dl-horizontal">
            <dt style="font-weight:normal">Recevoir une copie ?</dt>
            <dd>@Html.CheckBoxFor(model => model.CopySender)</dd>
        </dl>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="submitButton" type="submit" class="btn btn-primary" data-loading-text="Envoi...">Envoyer</button>
        </div>
    </div>
        </div>
}
<div class="fluid">
    <div id="progressBar" style="display: none;">
        <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="Loading..."/>
    </div>
</div>
}
