@model Bea.Models.Delete.DeleteAdModel

@{
    ViewBag.Title = "Supprimer mon annonce";
}

<div class="legend-like">Supprimer mon annonce</div>

@if (Model.CanDeleteAd && !Model.IsDeleted)
{
    using (Html.BeginForm())
    {
    
    <p>Pour supprimer votre annonce, entrez le mot de passe indiqué lors de la mise en ligne de l'annonce.</p>
        
    <dl class="dl-horizontal">
        
        <dd>&nbsp;</dd>
        
        <dt>Mot de passe</dt>
        <dd>@Html.PasswordFor(model => model.Password)</dd>

        <dt>Raison</dt>
        <dd>@Html.EditorFor(model => model.SelectedDeletionReasonId)</dd>

        <dd>&nbsp;
            @Html.HiddenFor(x => x.AdId)
            @Html.HiddenFor(x => x.NbTry)
        </dd>

        <dd>
            @Html.ActionLink("Annuler", "Index", new { controller = "Home" }, new { @class = "btn" })
            <input type="submit" value="Supprimer" class="btn btn-primary" />
        </dd>
    </dl>
    }
}
else
{
    <h3>@Model.InfoMessage</h3>
    <div>
        @Html.ActionLink("Retour aux annonces", "Index", new { controller = "Home" })
    </div>
}


