@model Bea.Models.Search.AdSearchResultModel

<div class="navbar">
    <div class="navbar-inner">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-form" }))
        {
            <div class="controls controls-row">
            <ul class="nav">
                <li class="bea-nav-li">
                    @Html.TextBoxFor(x => x.SearchString, new { @class = "input-xlarge", @size = 60, @placeholder = "Vous recherchez..." })
                </li>
                
                <li class="bea-nav-li">
                    @Html.DropDownListFor(
                        x => x.CategorySelectedId,
                        Enumerable.Empty<SelectListItem>(),
                        "Toutes les catégories",
                        new { id = "categories" })
                </li>

                <li class="bea-nav-li">
                    @Html.DropDownListFor(
                        x => x.ProvinceSelectedId,
                        Enumerable.Empty<SelectListItem>(),
                        "Toutes les provinces",
                        new { id = "provinces" })
                </li>
                
                <li class="bea-nav-li">
                    @Html.DropDownListFor(
                        x => x.CitySelectedId,
                        Enumerable.Empty<SelectListItem>(),
                        "Toutes les villes",
                        new { id = "cities" })
                </li>
                
                <li>
                    <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>&nbsp;CHERCHER</button>
                </li>
            </ul>
            </div>
            <div id="parameters"></div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Refreshes the city list when user changes province
        $('#provinces').change(function () {
            $(this).reloadCities();
        });
    });

    $('#categories').change(function () {
        if ($(this).val()) {
            var categoryId = $('#categories').val();
            var url = '@Url.RouteUrl("DefaultWithParameter", new { httproute = "", controller = "Home", action = "AddParamters", categoryId = "id" })'.replace("id", categoryId);
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#parameters').html("");
                    $('#parameters').html(data);
                }
            });
        }
    });


    $(function () {
        $.getJSON('@Url.RouteUrl("ActionApi", new { httproute = "", controller = "CategoryApi", action = "GetAllCategoriesAndGroups" })', function (result) {
            var ddl = $('#categories');
            ddl.empty();
            $(document.createElement('option'))
                    .attr('value', "")
                    .text("Toutes les catégories")
                    .appendTo(ddl);
            $(result).each(function () {
                var selected = (this.Id == "@Model.CategorySelectedId");
                $(document.createElement('option'))
                    .attr('value', this.Id)
                    .attr('selected', selected)
                    .attr('style', this.IsGroup ? 'color: #006DCC;' : '')
                    .text(this.Label)
                    .appendTo(ddl);
            });
        });
    });

    $(function () {
        $.getJSON('@Url.RouteUrl("ActionApi", new { httproute = "", controller = "LocationApi", action = "GetAllProvinces" })', function (result) {
            var ddl = $('#provinces');
            ddl.empty();
            $(document.createElement('option'))
                    .attr('value', "")
                    .text("Toutes les provinces")
                    .appendTo(ddl);
            $(result).each(function () {
                var selected = (this.Id == "@Model.ProvinceSelectedId");
                $(document.createElement('option'))
                    .attr('value', this.Id)
                    .attr('selected', selected)
                    .text(this.Label)
                    .appendTo(ddl);
            });
            $(this).reloadCities();
        });
    });

    $.fn.reloadCities = function () {
        var ddl = $('#cities');
        ddl.empty();
        $(document.createElement('option'))
                        .attr('value', "")
                        .text("Toutes les villes")
                        .appendTo(ddl);

        if ($('#provinces').val()) {
            //The user selected a province
            var provinceId = $('#provinces').val();
            $.getJSON('@Url.RouteUrl("ActionApi", new { httproute = "", controller = "LocationApi", action = "GetCitiesFromProvince", provinceId = "id" })'.replace("id", provinceId), function (result) {
                $(result).each(function () {
                    var selected = (this.Id == "@Model.CitySelectedId");
                    $(document.createElement('option'))
                        .attr('value', this.Id)
                        .attr('selected', selected)
                        .text(this.Label)
                        .appendTo(ddl);
                });
            });
        }
    };

</script>
