@model Bea.Models.Search.AdvancedAdSearchModel

<h6><i class="  icon-pencil"></i>&nbsp; Filtrer les annonces</h6>
<div class="controls controls-row">
    @Html.DropDownListFor(Model => Model.SelectedHullTypeId, (IEnumerable<SelectListItem>)ViewBag.HullTypes, "Type", new { @class = "input-medium" })
    @Html.DropDownListFor(Model => Model.SelectedSailingBoatTypeId, (IEnumerable<SelectListItem>)ViewBag.Types, "Coque", new { @class = "input-medium" })
    @Html.DropDownListFor(Model => Model.AgeBracketSelectedId, (IEnumerable<SelectListItem>)ViewBag.AgeBrackets, "Age", new { @class = "input-medium" })
    @Html.TextBoxFor(Model => Model.MinLength, "Min Longueur", new { @class = "input-small", @placeholder = "Long. min..." })
    @Html.TextBoxFor(Model => Model.MaxLength, "Max Longueur", new { @class = "input-small", @placeholder = "Long. max..." })
</div>
