@model Bea.Models.AdSearchResultModel

@{
    ViewBag.Title = "BEA - Welcome";
}

<div class="navbar">
    <div class="navbar-inner">
        <span class="brand">Title</span>
        <ul class="nav">
            <li>
                <form class="navbar-form pull-left">
                    <input type="text" class="span2" name="title" value="@Html.DisplayFor(model => model.SearchString)"/>
                    <button type="submit" class="btn btn-primary">CHERCHER</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayName("CreationDate")
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SearchResult)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { controller = "Ad", id = item.AdId })
            </td>
        </tr>
    }
</table>

<div>
    @Html.Partial("_TestData")
</div>
