@model Bea.Models.Details.AdDetailsModel

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="/">Accueil</a> <span class="divider">/</span></li>
            @if (!String.IsNullOrEmpty(Model.CategoryGroup))
            {
                <li><a href="#">@Html.ActionLink(@Model.CategoryGroup, "Search", new { controller = "Annonces", id = Model.CategoryGroupUrlPart })</a> <span class="divider">/</span></li>
                <li><a href="#">@Html.ActionLink(@Model.Category, "Categorie", new { controller = "Annonces", id = Model.CategoryUrlPart })</a> <span class="divider">/</span></li>
            }
            <li class="active">@Model.Title</li>
        </ul>
    </div>
</div>
