@model IEnumerable<Bea.Domain.Ads.Ad>

@{
    ViewBag.Title = "Index";
}

<h2>Ads</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.Label)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.Label)
        </td>
    </tr>
}

</table>
