@model IEnumerable<Bea.Domain.Ads.BaseAd>

@{
    ViewBag.Title = "Admin BaseAd List";
}

<h2>BaseAd</h2>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActivated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivationToken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOffer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActivated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivationToken)
        </td>
        <td>
            @Html.RouteLink("Activate", "AdActivationRoute", new { id = item.Id, activationToken = item.ActivationToken })
        </td>
    </tr>
}

</table>
