@model Bea.Models.Create.AdvancedAdCreateModel

@Html.HiddenFor(model => model.Type)
<div class="row-fluid">
    <div class="span6">
        <dt>Type:</dt>
        <dd>
            @Html.DropDownListFor(model => model.SelectedMotorBoatTypeId, (IEnumerable<SelectListItem>)ViewBag.Types, "Choisissez un type", new { @class = "input-large" })
            @Html.ValidationMessageFor(model => model.SelectedMotorBoatTypeId, String.Empty, new { @class = "label label-important" })
        </dd>
        <dt>Moteur:</dt>
        <dd>
            @Html.DropDownListFor(model => model.SelectedMotorTypeId, (IEnumerable<SelectListItem>)ViewBag.MotorTypes, "Choisissez un moteur", new { @class = "input-large" })
            @Html.ValidationMessageFor(model => model.SelectedMotorTypeId, String.Empty, new { @class = "label label-important" })
        </dd>
        <dt>Année-Modele:</dt>
        <dd>
            @Html.DropDownListFor(model => model.SelectedYearId, (IEnumerable<SelectListItem>)ViewBag.Years, "Choisissez une année", new { @class = "input-large" })
            @Html.ValidationMessageFor(model => model.SelectedYearId, String.Empty, new { @class = "label label-important" })
        </dd>
    </div>
    <div class="span4">
        <dt>Longueur:</dt>
        <dd>
            <div class="input-append">
                @Html.TextBoxFor(model => model.Length, new { @class = "input-mini" })
                <span class="add-on">M</span>
            </div>
            @Html.ValidationMessageFor(model => model.Length, String.Empty, new { @class = "label label-important" })
        </dd>
        <dt>Puissance Moteur:</dt>
        <dd>
            <div class="input-append">
                @Html.TextBoxFor(model => model.Hp, new { @class = "input- input-mini" })
                <span class="add-on">CV</span>
            </div>
            @Html.ValidationMessageFor(model => model.Hp, String.Empty, new { @class = "label label-important" })
        </dd>
    </div>
</div>
