@model Bea.Models.Create.AdvancedAdCreateModel
@Html.HiddenFor(model => model.Type)
<div class="row-fluid">
    <div class="span6">
        <dt>Année-Modele:</dt>
        <dd>
            @Html.DropDownListFor(model => model.SelectedYearId, (IEnumerable<SelectListItem>)ViewBag.Years, "Choisissez une année", new { @class = "input-large" })
            @Html.ValidationMessageFor(model => model.SelectedYearId, String.Empty, new { @class = "label label-important" })
        </dd>
        <dt>Marque:</dt>
        <dd>
            @Html.DropDownListFor(model => model.SelectedMotoBrandId, (IEnumerable<SelectListItem>)ViewBag.Brands, "Choisissez une marque", new { @class = "input-large" })
            @Html.ValidationMessageFor(model => model.SelectedMotoBrandId, String.Empty, new { @class = "label label-important" })
        </dd>  
    </div>
    <div class="span4">
        <dt>Cylindrée:</dt>
        <dd>
            <div class="input-append">
                @Html.TextBoxFor(model => model.EngineSize, new { @class = "input-mini" })
                <span class="add-on">Cm³</span>
            </div>
            @Html.ValidationMessageFor(model => model.EngineSize, String.Empty, new { @class = "label label-important" })
        </dd>
        
        <dt>Kilométrage:</dt>
        <dd>
            <div class="input-append">
                @Html.TextBoxFor(model => model.Km, new { @class = "input-mini" })
                <span class="add-on">Km</span>
            </div>
            @Html.ValidationMessageFor(model => model.Km, String.Empty, new { @class = "label label-important" })
        </dd>
    </div>
</div>
