@model Bea.Models.Create.AdvancedAdCreateModel
@Html.HiddenFor(model => model.Type)
<div class="row-fluid">
    <div class="span6">
        <dt>Type de bien:</dt>
        <dd>
           @Html.DropDownListFor(model => model.SelectedRealEstateTypeId, (IEnumerable<SelectListItem>)ViewBag.Types, "Choisissez un type", new { @class = "input-large" })
           @Html.ValidationMessageFor(model => model.SelectedRealEstateTypeId, String.Empty, new { @class = "label label-important" })
        </dd>
        <dt>Quartier:</dt>
        <dd>
            @Html.DropDownListFor(model => model.SelectedDistrictId, (IEnumerable<SelectListItem>)ViewBag.Districts, "Choisissez un quartier", new { @class = "input-large" })
            @Html.ValidationMessageFor(model => model.SelectedDistrictId, String.Empty, new { @class = "label label-important" })
        </dd>
        <dt>Superficie:</dt>
        <dd>
            <div class="input-prepend">
                @Html.TextBoxFor(model => model.SurfaceArea, new { @class = "input- input-mini" })
                <span class="add-on">m²</span>
            </div>
            @Html.ValidationMessageFor(model => model.SurfaceArea, String.Empty, new { @class = "label label-important" })
        </dd>
    </div>
    <div class="span6">
        <dt>Nombre de pieces:</dt>
        <dd>
            @Html.TextBoxFor(model => model.RoomNb, new { @class = "input-mini" })
            @Html.ValidationMessageFor(model => model.RoomNb, String.Empty, new { @class = "label label-important" })
        </dd>
        <dt>Meublé:</dt>
        <dd>
            <label class="checkbox inline">@Html.RadioButtonFor(model => model.IsFurnished, true, new { @checked = "checked", @style = "vertical-align: top" }) Meublé</label>
            <label class="checkbox inline">@Html.RadioButtonFor(model => model.IsFurnished, false, new { @style = "vertical-align: top" }) Non Meublé</label>
        </dd>
    </div>
</div>
