@model Bea.Models.Create.AdvancedAdCreateModel
@Html.HiddenFor(model => model.Type)
<div class="row-fluid">
    <div class="span6">
        <dt>Année-Modele:</dt>
        <dd>
            @Html.DropDownListFor(model => model.SelectedYearId, (IEnumerable<SelectListItem>)ViewBag.Years, "Choisissez une année", new { @class = "input-large" })
            @Html.ValidationMessageFor(model => model.SelectedYearId, String.Empty, new { @class = "label label-important" })
        </dd>
    </div>
    <div class="span6">
        <dt>Kilométrage:</dt>
        <dd>
        <div class="input-prepend">
            @Html.TextBoxFor(model => model.Km, new { @class = "input-mini" })
            <span class="add-on">Km</span>
        </div>
        @Html.ValidationMessageFor(model => model.Km, String.Empty, new { @class = "label label-important" })
        </dd>
    </div>
</div>
